/*-----Fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");

/*-----Style choice background #f0f8ff Writing #1a1a1a old color text color: #a8afb3 Alert #fff7f0---/*

/*----General---*/
.fixed-bottom{
    position:inherit;
}

/*---Alert Bar----*/
.alert-danger {
  background-color: #fff7f0;
  color:#1a1a1a;
  text-align: center;
  font-family: Recursive, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  border-color: #f0f8ff;
  border-radius: 0%;
}

.alert-danger a {
  color: #1a1a1a;
}

#topnavbar {
    margin: 0;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}


/*------------------------------------Header Nav Bar-------------------------------------------------*/

.navbar-light {
  background-color: #f0f8ff;
  color: #1a1a1a;
  text-align: center;
  font-family: Recursive, sans-serif;
}

.nav-link {
  background-color: #f0f8ff;
  color: #1a1a1a;
  text-align: center;
  font-family: Recursive, sans-serif;
}

.nav-color {
  background-color: #f0f8ff;
}

.navbar-custom {
  background-color: #f0f8ff;
}

/*----Body-----*/
body{
    background-color: #f0f8ff;
    height:auto; 
}

/*---Section -----------------------------------------------------------*/

section {
  background-color: #f0f8ff;
  font-family: Recursive, sans-serif;
  color: #1a1a1a;
  padding-top: 70px;
  overflow:auto;
}

.jumbotron {
  background-image: url("../images/heroimage.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  position:center;
  color: #1a1a1a;
  height:100vh;
}

.Ireland-callout {
  background-color: #f0f8ff;
}


/*-----------------------------------learnaboutireland-------------------------------------------------------------*/



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f0f8ff;
  color: #1a1a1a;
  transform: rotateY(180deg);
}

h3{
    font-family: Recursive, sans-serif;
}


.history{
    padding-top:10px;
    
}
/*---changed row height to auto for footer------------------------------------------------------*/
.row {
  color: #1a1a1a;
  height: auto;
}


.nineteenthcentury, .twentiethcentury, .twentyfirstcentury{
    background-color: #f0f8ff;
    height:75%;
    overflow:auto;
}

.Dimensions, .climate, .wildanimals {
    background-color: #f0f8ff;
    height:75%;
    overflow:auto;
}

.gaa, .soccer, .rugby {
    background-color: #f0f8ff;
    height:75%;
    overflow:auto;
}

.music, .language, .science {
    background-color: #f0f8ff;
    height:75%;
    overflow:auto;
}

/*----------------------------------contact us-------------------------------------*/


.form-group {
  background-color: #f0f8ff;
  color: #1a1a1a;
  padding: 15px 10px 15px 10px;
}

button {
  color: #1a1a1a;
  font-family: Recursive, sans-serif;
  border: #a8afb3; /*-----May need to change border here----*/
}

h2{
    text-align: center;
    text-decoration: underline; 
}

/*---------------explore ireland----------------------------------------------------------*/
#map {
  height: 130vh;
}

.activity, .activity2, .cities, .cities2, .wellness, .wellness2, .culture, .culture2 {
    background-color: #f0f8ff;
    color: #1a1a1a;
    height:100%;
    overflow:auto;
    
}


/*----------------------------------------Footer--------------------------------------------------------------*/

footer {
  background-color: #f0f8ff;
  color: #1a1a1a;
  font-family: Recursive, sans-serif;
  height:200px;
  padding-top: 10px;
  padding-bottom: 20px;
}


.footer-media i {
  font-size: 36px;
  padding-left: 150px;
  color: #1a1a1a;
}

.social-media i {
  font-size: 36px;
  padding-right: 30px;
  color: #1a1a1a;
}

.footer-media i:hover {
  color: #fff7f0;
}